<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title%></title>
    <%= csrf_meta_tags %>

  <meta name= "keywords" content="<%=@seo_keywords%>"/>

  
    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <link rel="stylesheet" type="text/css" href="css/css.scss">
    
    
    <%=render "shared/nav"%>
    
   <!-- 
    <div class="Nav">
    <nav>
      <div class="Item1">
      <div><%= link_to "Home", root_path%></div>    
      </div>
      <div class="Item2">
      <div><%= link_to "About", about_me_path%></div>
      </div>
      <div class="Item3">
      <div><%= link_to "Contact", contact_path%></div>
      </div>
      <div class="Item4">
      <div><%= link_to "Blog", blogs_path%></div>
      </div>
      <div class="Item5">
      <div><%= link_to "Portfolio", portfolios_path%></div>
      </div>
    </nav>
    </div>
    -->
    
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    

    
    
    <%=login_helper%>
    
    <%= yield %>
    

    <% if session[:source] %>
      <p> Thanks for visiting me from <%= session[:source] %> </p>
    <% end %>
  </body>
</html>
